.App {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.home_container {
  width: 50%;
  position: relative;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
  border: 1px solid black;
  border-bottom: transparent;
}

li {
  position: relative;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 20px 0;
}

.restaurant_list a {
  text-decoration: none;
  color: black;
}